body {
  padding-left: 30px;
}

@-webkit-keyframes top-to-middle {
  0% {
    -webkit-transform: scale(1, 1);
    -webkit-transform: perspective(300) rotateX(0deg);
  }
  10% {
    -webkit-transform: scale(1, 0.9876883405951378);
    -webkit-transform: perspective(300) rotateX(-10deg);
  }
  20% {
    -webkit-transform: scale(1, 0.9510565162951535);
    -webkit-transform: perspective(300) rotateX(-20deg);
  }
  30% {
    -webkit-transform: scale(1, 0.8910065241883679);
    -webkit-transform: perspective(300) rotateX(-30deg);
  }
  40% {
    -webkit-transform: scale(1, 0.8090169943749475);
    -webkit-transform: perspective(300) rotateX(-40deg);
  }
  50% {
    -webkit-transform: scale(1, 0.7071067811865476);
    -webkit-transform: perspective(300) rotateX(-50deg);
  }
  60% {
    -webkit-transform: scale(1, 0.5877852522924732);
    -webkit-transform: perspective(300) rotateX(-60deg);
  }
  70% {
    -webkit-transform: scale(1, 0.4539904997395468);
    -webkit-transform: perspective(300) rotateX(-70deg);
  }
  80% {
    -webkit-transform: scale(1, 0.30901699437494745);
    -webkit-transform: perspective(300) rotateX(-80deg);
  }
  90% {
    -webkit-transform: scale(1, 0.15643446504023092);
    -webkit-transform: perspective(300) rotateX(-85deg);
  }
  100% {
    -webkit-transform: scale(1, 0.05);
    -webkit-transform: perspective(300) rotateX(-90deg);
  }
}

@-webkit-keyframes middle-to-bottom {
  0% {
    -webkit-transform: scale(1, 0.06975647374412523);
    -webkit-transform: perspective(300) rotateX(-270deg);
  }
  10% {
    -webkit-transform: scale(1, 0.15643446504023092);
    -webkit-transform: perspective(300) rotateX(-275deg);
  }
  20% {
    -webkit-transform: scale(1, 0.30901699437494745);
    -webkit-transform: perspective(300) rotateX(-280deg);
  }
  30% {
    -webkit-transform: scale(1, 0.4539904997395468);
    -webkit-transform: perspective(300) rotateX(-290deg);
  }
  40% {
    -webkit-transform: scale(1, 0.5877852522924732);
    -webkit-transform: perspective(300) rotateX(-300deg);
  }
  50% {
    -webkit-transform: scale(1, 0.7071067811865476);
    -webkit-transform: perspective(300) rotateX(-310deg);
  }
  60% {
    -webkit-transform: scale(1, 0.8090169943749475);
    -webkit-transform: perspective(300) rotateX(-320deg);
  }
  70% {
    -webkit-transform: scale(1, 0.8910065241883679);
    -webkit-transform: perspective(300) rotateX(-330deg);
  }
  80% {
    -webkit-transform: scale(1, 0.9510565162951535);
    -webkit-transform: perspective(300) rotateX(-340deg);
  }
  90% {
    -webkit-transform: scale(1, 0.9876883405951378);
    -webkit-transform: perspective(300) rotateX(-350deg);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -webkit-transform: perspective(300) rotateX(-360deg);
  }
}

.top-current {
  z-index: 200;
  /* -webkit-animation-timing-function: ease-out; */
  -webkit-transform-origin: 50% 100%;
  -webkit-animation-name: top-to-middle;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
}

.bottom-next {
  z-index: 200;
  /* -webkit-animation-timing-function: ease-out; */
  -webkit-transform-origin: 50% 0%;
  -webkit-animation-name: middle-to-bottom;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}

.bottom-current {
  z-index: 100;
}

.top-next {
  z-index: 100;
}

.number {
  position: relative;
}

.number .top {
  position: absolute;
  top: 0px;
  left: 0px;
}

.number .bottom {
  position: absolute;
  top: 99px;
  left: 0px;
}
